<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.admin.mapper.AdDoubtMapper">

    <resultMap type="AdDoubt" id="AdDoubtResult">
        <result property="id"    column="id"    />
        <result property="studentName"    column="studentName"    />
        <result property="studentdoubt"    column="studentDoubt"    />
        <result property="answer"    column="answer"    />
    </resultMap>

    <sql id="selectAdDoubtVo">
        select td.id, ts.studentName, td.studentDoubt, td.answer
        from t_doubt td
                 LEFT JOIN t_student ts ON ts.id = td.studentId
    </sql>

    <select id="selectAdDoubtList" parameterType="AdDoubt" resultMap="AdDoubtResult">
        <include refid="selectAdDoubtVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="studentName != null "> and studentName = #{studentName}</if>
            <if test="studentdoubt != null  and studentdoubt != ''"> and studentDoubt = #{studentdoubt}</if>
            <if test="answer != null  and answer != ''"> and answer = #{answer}</if>
        </where>
    </select>

    <select id="selectAdDoubtById" parameterType="Integer" resultMap="AdDoubtResult">
        <include refid="selectAdDoubtVo"/>
        where td.id = #{id}
    </select>

    <insert id="insertAdDoubt" parameterType="AdDoubt" useGeneratedKeys="true" keyProperty="id">
        insert into t_doubt(studentid,studentdoubt,answer)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName != null">(select id from t_student where studentName = #{studentName}),</if>
            <if test="studentdoubt != null">#{studentdoubt},</if>
            <if test="answer != null">#{answer},</if>
         </trim>
    </insert>

    <update id="updateAdDoubt" parameterType="AdDoubt">
        update t_doubt
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentName != null">
            studentId = (select id from  t_student where studentName = #{studentName}),</if>
            <if test="studentdoubt != null">studentDoubt = #{studentdoubt},</if>
            <if test="answer != null">answer = #{answer},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdDoubtById" parameterType="Integer">
        delete from t_doubt where id = #{id}
    </delete>

    <delete id="deleteAdDoubtByIds" parameterType="String">
        delete from t_doubt where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
