<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.admin.mapper.AdStudentMapper">

    <resultMap type="AdStudent" id="AdStudentResult">
        <result property="id"    column="id"    />
        <result property="studentNo"    column="studentNo"    />
        <result property="studentName"    column="studentName"    />
        <result property="sex"    column="sex"    />
        <result property="majorName"    column="majorName"    />
        <result property="grade"    column="grade"    />
        <result property="inputMan"    column="inputMan"    />
        <result property="lastModifyTime"    column="lastModifyTime"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
    </resultMap>

    <sql id="selectAdStudentVo">
        select ts.id, ts.studentNo, ts.studentName, ts.sex, tm.majorName, ts.grade, ts.inputMan, ts.lastModifyTime, ts.phone, ts.email
        from t_student ts
                 LEFT JOIN t_major tm ON tm.id = ts.majorId
                 LEFT JOIN t_department td ON td.id = tm.departmentId
    </sql>

    <select id="selectAdStudentList" parameterType="AdStudent" resultMap="AdStudentResult">
        <include refid="selectAdStudentVo"/>
        <where>
            <if test="studentNo != null  and studentNo != ''"> and studentNo = #{studentNo}</if>
            <if test="studentName != null  and studentName != ''"> and studentName like concat('%', #{studentName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="majorName != null "> and majorName = #{majorName}</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="inputMan != null  and inputman != ''"> and inputMan = #{inputMan}</if>
            <if test="lastModifyTime != null "> and lastModifyTime = #{lastModifyTime}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>

    <select id="selectAdStudentById" parameterType="Long" resultMap="AdStudentResult">
        <include refid="selectAdStudentVo"/>
        where ts.id = #{id}
    </select>

    <select id="selectAdStudentByStudentNo" parameterType="String" resultMap="AdStudentResult">
        <include refid="selectAdStudentVo"/>
        where ts.studentNo = #{studentNo}
    </select>


    <insert id="insertAdStudent" parameterType="AdStudent" useGeneratedKeys="true" keyProperty="id">
        insert into t_student(studentNo,studentName,sex,majorId,grade,inputMan,lastModifyTime,phone,email)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null">#{studentNo},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="majorName != null">(select id from t_major where majorName = #{majorName}),</if>
            <if test="grade != null">#{grade},</if>
            <if test="inputMan != null">#{inputMan},</if>
            <if test="lastModifyTime != null">#{lastModifyTime},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
         </trim>
    </insert>

    <update id="updateAdStudent" parameterType="AdStudent">
        update t_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null">studentNo = #{studentNo},</if>
            <if test="studentName != null">studentName = #{studentName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="majorName != null">majorId = (select id from t_major where majorName = #{majorName}),</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="inputMan != null">inputMan = #{inputMan},</if>
            <if test="lastModifyTime != null">lastModifyTime = #{lastModifyTime},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdStudentById" parameterType="Long">
        delete from t_student where id = #{id}
    </delete>

    <delete id="deleteAdStudentByIds" parameterType="String">
        delete from t_student where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
