<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.admin.mapper.AdTeacherMapper">

    <resultMap type="AdTeacher" id="AdTeacherResult">
        <result property="id"    column="id"    />
        <result property="teacherNo"    column="teacherNo"    />
        <result property="teacherName"    column="teacherName"    />
        <result property="departmentId"    column="departmentId"    />
        <result property="departmentName"    column="departmentName"    />
        <result property="sex"    column="sex"    />
        <result property="inputMan"    column="inputMan"    />
        <result property="lastModifyTime"    column="lastModifyTime"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="zhicheng"    column="zhicheng"    />
    </resultMap>

    <sql id="selectAdTeacherVo">
        select tea.id, tea.teacherNo, tea.teacherName, td.departmentName, tea.sex, tea.inputMan, tea.lastModifyTime, tea.phone, tea.email, tea.zhicheng
        from t_teacher tea
                 LEFT JOIN t_department td ON td.id = tea.departmentId
    </sql>

    <select id="selectAdTeacherList" parameterType="AdTeacher" resultMap="AdTeacherResult">
        <include refid="selectAdTeacherVo"/>
        <where>
            <if test="teacherNo != null  and teacherNo != ''"> and teacherNo = #{teacherNo}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacherName like concat('%', #{teacherName}, '%')</if>
            <if test="departmentName != null "> and departmentName = #{departmentName}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="inputMan != null  and inputMan != ''"> and inputMan = #{inputMan}</if>
            <if test="lastModifyTime != null "> and lastModifyTime = #{lastModifyTime}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="zhicheng != null  and zhicheng != ''"> and zhicheng = #{zhicheng}</if>
        </where>
    </select>

    <select id="selectAdTeacherById" parameterType="Long" resultMap="AdTeacherResult">
        <include refid="selectAdTeacherVo"/>
        where tea.id = #{id}
    </select>

    <select id="selectAdTeacherByTeacherNo" parameterType="String" resultMap="AdTeacherResult">
        <include refid="selectAdTeacherVo"/>
        where tea.teacherNo = #{teacherNo}
    </select>


    <insert id="insertAdTeacher" parameterType="AdTeacher" useGeneratedKeys="true" keyProperty="id">
        insert into t_teacher(teacherNo,teacherName,departmentId,sex,inputMan,lastModifyTime,phone,email,zhicheng)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherNo != null">#{teacherNo},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="departmentName != null">(select id from t_department where departmentName = #{departmentName}),</if>
            <if test="sex != null">#{sex},</if>
            <if test="inputMan != null">#{inputMan},</if>
            <if test="lastModifyTime != null">#{lastModifyTime},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="zhicheng != null">#{zhicheng},</if>
         </trim>
    </insert>

    <update id="updateAdTeacher" parameterType="AdTeacher">
        update t_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherNo != null">teacherNo = #{teacherNo},</if>
            <if test="teacherName != null">teacherName = #{teacherName},</if>
            <if test="departmentId != null">departmentId = #{departmentId},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="inputMan != null">inputMan = #{inputMan},</if>
            <if test="lastModifyTime != null">lastModifyTime = #{lastModifyTime},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="zhicheng != null">zhicheng = #{zhicheng},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdTeacherById" parameterType="Long">
        delete from t_teacher where id = #{id}
    </delete>

    <delete id="deleteAdTeacherByIds" parameterType="String">
        delete from t_teacher where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
