<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.student.mapper.AllStuTopicesMapper">

    <resultMap type="AllStuTopices" id="AllStuTopicesResult">
        <result property="id"    column="id"    />
        <result property="thesisName"    column="thesisName"    />
        <result property="thesisid"    column="thesisid"    />
        <result property="teacherName"    column="teacherName"    />
        <result property="status"    column="status"    />
        <result property="nandu"    column="nandu"    />
        <result property="liang"    column="liang"    />
        <result property="tofrom"    column="tofrom"    />
        <result property="leixing"    column="leixing"    />
        <result property="descriptions"    column="descriptions"    />
        <result property="studentNo"    column="studentNo"    />
    </resultMap>

    <resultMap id="CurrentStuResult" type="CurrentStu">
        <result property="studentid"    column="studentId"    />
    </resultMap>

    <sql id="selectAllStuTopicesVo">
        select tt.id, tt.thesisId, ttt.thesisName,tea.teacherName,ttt.status,ttt.nandu,ttt.liang,ttt.tofrom,ttt.leixing,ttt.descriptions,ts.studentNo
        from t_topic tt
            LEFT JOIN t_thesis_title ttt ON ttt.id = tt.thesisId
            LEFT JOIN t_teacher tea ON tea.id = ttt.teacherId
            LEFT JOIN t_student ts ON ts.id = tt.studentId
    </sql>

<!--    查询审核通过的课题-->
    <select id="selectAllStuTopicesList" parameterType="AllStuTopices" resultMap="AllStuTopicesResult">
        <include refid="selectAllStuTopicesVo"/>
        <where>
            <if test="thesisName != null "> and thesisName = #{thesisName}</if>
            <if test="studentid != null "> and studentId = #{studentid}</if>
            <if test="selecttime != null "> and selectTime = #{selecttime}</if>
             and status = 2
        </where>
    </select>

<!--  查询当前课题是否有人选择-->
    <select id="selCurrentTopicStatus" parameterType="Long" resultType="string">
        select studentId from t_topic
        <where>
            <if test="id != null"> and id = #{id}</if>
        </where>
    </select>

<!--    查询学生是否选题-->
    <select id="selStuTopicinfo" parameterType="String" resultType="String">
        select ttt.status from t_topic tt
        left join t_thesis_title ttt on ttt.id = tt.thesisId
            <where>
            <if test="studentNo != null">
                and studentId = (SELECT id FROM t_student where studentNo = #{studentNo})
            </if>
            </where>
    </select>



<!--    选题-->
    <update id="updateAllStuTopices" parameterType="AllStuTopices">
        update t_topic tt
        <trim prefix="SET" suffixOverrides=",">
            <if test="thesisid != null">thesisId = #{thesisid},</if>
            studentId = (SELECT id FROM t_student where studentNo = #{studentNo}) ,
            <if test="selecttime != null">selectTime = #{selecttime},</if>
            selectStatus = 1
        </trim>
        <where>
            and id = #{id}
        </where>
    </update>

    <select id="selectAllStuTopicesById" parameterType="String" resultMap="AllStuTopicesResult">
        <include refid="selectAllStuTopicesVo"/>
        where ttt.thesisName = #{thesisName}
    </select>
    <!-- 下面没有用到-->
<!--    -->
    <insert id="insertAllStuTopices" parameterType="AllStuTopices" useGeneratedKeys="true" keyProperty="id">
        insert into t_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="thesisid != null">thesisId,</if>
            <if test="studentid != null">studentId,</if>
            <if test="selecttime != null">selectTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="thesisid != null">#{thesisid},</if>
            <if test="studentid != null">#{studentid},</if>
            <if test="selecttime != null">#{selecttime},</if>
         </trim>
    </insert>

    <delete id="deleteAllStuTopicesById" parameterType="Long">
        delete from t_topic where id = #{id}
    </delete>

    <delete id="deleteAllStuTopicesByIds" parameterType="String">
        delete from t_topic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
