<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.student.mapper.MyTopicMapper">

    <resultMap type="MyTopic" id="MyTopicResult">
        <result property="id"    column="id"    />
        <result property="thesisName"    column="thesisName"    />
        <result property="studentNo"    column="studentNo"    />
        <result property="studentName"    column="studentName"    />
        <result property="teacherName"    column="teacherName"    />
        <result property="selecttime"    column="selectTime"    />
        <result property="status"    column="status"    />
        <result property="selectStatus"    column="selectStatus"    />
    </resultMap>

    <sql id="selectMyTopicVo">
        select tt.id, tth.thesisName,tea.teacherName,ts.studentNo, ts.studentName, tt.selectTime, tth.`status`,tt.selectStatus
        from t_topic tt
            LEFT JOIN t_student ts ON ts.id = tt.studentId
            LEFT JOIN t_thesis_title tth ON tth.id = tt.thesisId
            left join t_teacher tea on tea.id = tth.teacherId
            LEFT JOIN sys_user su ON su.user_name = ts.studentNo
    </sql>

    <select id="selectMyTopicList" parameterType="MyTopic" resultMap="MyTopicResult">
        <include refid="selectMyTopicVo"/>
        <where>
             <if test="thesisid != null "> and thesisId = #{thesisid}</if>
             <if test="studentNo != null "> and studentNo = #{studentNo}</if>
             <if test="selecttime != null "> and selectTime = #{selecttime}</if>
        </where>
    </select>

<!--    查询当前用户的选题状态-->
    <select id="selectMyTopicByStatus" parameterType="string" resultMap="MyTopicResult">
        <include refid="selectMyTopicVo"/>
        where (ts.studentNo = #{studentNo} and tt.selectStatus=3)
    </select>

    <select id="selectMyTopicById" parameterType="Long" resultMap="MyTopicResult">
        <include refid="selectMyTopicVo"/>
        where id = #{id}
    </select>

    <insert id="insertMyTopic" parameterType="MyTopic" useGeneratedKeys="true" keyProperty="id">
        insert into t_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="thesisid != null">thesisId,</if>
            <if test="studentid != null">studentId,</if>
            <if test="selecttime != null">selectTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="thesisid != null">#{thesisid},</if>
            <if test="studentid != null">#{studentid},</if>
            <if test="selecttime != null">#{selecttime},</if>
         </trim>
    </insert>

    <update id="updateMyTopic" parameterType="MyTopic">
        update t_topic
        <trim prefix="SET" suffixOverrides=",">
            <if test="thesisid != null">thesisId = #{thesisid},</if>
            <if test="studentid != null">studentId = #{studentid},</if>
            <if test="selecttime != null">selectTime = #{selecttime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMyTopicById" parameterType="Long">
        delete from t_topic where id = #{id}
    </delete>

    <delete id="deleteMyTopicByIds" parameterType="String">
        delete from t_topic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
