<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.teacher.mapper.TeaStudentMapper">

    <resultMap type="TeaStudent" id="TeaStudentResult">
        <result property="studentno"    column="studentNo"    />
        <result property="studentname"    column="studentName"    />
        <result property="thesisName"    column="thesisName"    />
        <result property="sex"    column="sex"    />
        <result property="majorName"    column="majorName"    />
        <result property="grade"    column="grade"    />
        <result property="inputman"    column="inputMan"    />
        <result property="lastmodifytime"    column="lastModifyTime"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="selectStatus"    column="selectStatus"    />
    </resultMap>

    <sql id="selectTeaStudentVo">
        select ts.id,tt.selectStatus, ts.studentNo, ts.studentName,ttt.thesisName, ts.sex, tm.majorName, ts.grade, ts.inputMan, ts.lastModifyTime, ts.phone, ts.email
        from t_student ts
                 LEFT JOIN t_major tm ON tm.id = ts.majorId
                 LEFT JOIN t_topic tt ON tt.studentId = ts.id
                 LEFT JOIN t_thesis_title ttt ON  ttt.id= tt.thesisId
                 LEFT join t_teacher tea ON tea.id = ttt.teacherId
    </sql>

    <select id="selectTeaStudentList" parameterType="TeaStudent" resultMap="TeaStudentResult">
        <include refid="selectTeaStudentVo"/>
        <where>
            <if test="studentno != null  and studentno != ''"> and studentNo = #{studentno}</if>
            <if test="studentname != null  and studentname != ''"> and studentName like concat('%', #{studentname}, '%')</if>
            <if test="sex != null  and sex != ''"> and ts.sex = #{sex}</if>
            <if test="majorName != null "> and majorName = #{majorName}</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="inputman != null  and inputman != ''"> and inputMan = #{inputman}</if>
            <if test="lastmodifytime != null "> and lastModifyTime = #{lastmodifytime}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="teacherNo != null"> and teacherNo = #{teacherNo}</if>
            <if test="selectStatus != null"> and selectStatus = #{selectStatus}</if>
        </where>
    </select>

    <select id="selectTeaStudentById" parameterType="Long" resultMap="TeaStudentResult">
        <include refid="selectTeaStudentVo"/>
        where ts.id = #{id}
    </select>

    <insert id="insertTeaStudent" parameterType="TeaStudent" useGeneratedKeys="true" keyProperty="id">
        insert into t_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentno != null">studentNo,</if>
            <if test="studentname != null">studentName,</if>
            <if test="sex != null">sex,</if>
            <if test="majorName != null">majorName,</if>
            <if test="grade != null">grade,</if>
            <if test="inputman != null">inputMan,</if>
            <if test="lastmodifytime != null">lastModifyTime,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentno != null">#{studentno},</if>
            <if test="studentname != null">#{studentname},</if>
            <if test="sex != null">#{sex},</if>
            <if test="majorName != null">#{majorName},</if>
            <if test="grade != null">#{grade},</if>
            <if test="inputman != null">#{inputman},</if>
            <if test="lastmodifytime != null">#{lastmodifytime},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
         </trim>
    </insert>

    <update id="updateTeaStudent" parameterType="TeaStudent">
        update t_student ts,t_topic tt
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentno != null">ts.studentNo = #{studentno},</if>
            <if test="studentname != null">ts.studentName = #{studentname},</if>
            <if test="sex != null">ts.sex = #{sex},</if>
            <if test="majorName != null">ts.majorId = (select id from t_major where majorName=#{majorName}) ,</if>
            <if test="grade != null">ts.grade = #{grade},</if>
            <if test="inputman != null">ts.inputMan = #{inputman},</if>
            <if test="lastmodifytime != null">ts.lastModifyTime = #{lastmodifytime},</if>
            <if test="phone != null">ts.phone = #{phone},</if>
            <if test="email != null">ts.email = #{email},</if>
            <if test="selectStatus != null">tt.selectStatus = #{selectStatus},</if>
        </trim>
        where (ts.id = #{id} and ts.id=tt.studentId)
    </update>

    <delete id="deleteTeaStudentById" parameterType="Long">
        delete from t_student where id = #{id}
    </delete>

    <delete id="deleteTeaStudentByIds" parameterType="String">
        delete from t_student where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
