<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.teacher.mapper.TeaStudentScoreMapper">

    <resultMap type="TeaStudentScore" id="TeaStudentScoreResult">
        <result property="id"    column="id"    />
        <result property="studentid"    column="studentId"    />
        <result property="studentNo"    column="studentNo"    />
        <result property="studentName"    column="studentName"    />
        <result property="thesisresult"    column="thesisResult"    />
        <result property="inputman"    column="inputMan"    />
    </resultMap>

    <sql id="selectTeaStudentScoreVo">
        select tss.id,stu.studentNo, stu.studentName, tss.thesisResult
        from t_student_score tss
                 left join t_student stu on stu.id = tss.studentid
                 LEFT JOIN t_topic tt on tt.studentId = stu.id
                 LEFT JOIN t_thesis_title ttt ON ttt.id = tt.thesisId
                 LEFT JOIN t_teacher tea ON tea.id = ttt.teacherId
    </sql>

    <select id="selectTeaStudentScoreList" parameterType="TeaStudentScore" resultMap="TeaStudentScoreResult">
        <include refid="selectTeaStudentScoreVo"/>
        <where>
            <if test="studentName != null "> and stu.studentName = #{studentName}</if>
            <if test="thesisresult != null "> and thesisResult = #{thesisresult}</if>
            <if test="teacherNo != null"> and teacherNo = #{teacherNo}</if>
        </where>
    </select>

    <select id="selectTeaStudentScoreById" parameterType="Long" resultMap="TeaStudentScoreResult">
        <include refid="selectTeaStudentScoreVo"/>
        where id = #{id}
    </select>

    <insert id="insertTeaStudentScore" parameterType="TeaStudentScore" useGeneratedKeys="true" keyProperty="id">
        insert into t_student_score(studentid,thesisresult,inputman)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null">
            (select id from t_student where studentNo = #{studentNo}),
            </if>
            <if test="thesisresult != null">#{thesisresult},</if>
            <if test="teacherNo != null">
            (select teacherNo from t_teacher where teacherNo=#{teacherNo}),</if>
         </trim>
    </insert>

    <update id="updateTeaStudentScore" parameterType="TeaStudentScore">
        update t_student_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentid != null">studentId = #{studentid},</if>
            <if test="thesisresult != null">thesisResult = #{thesisresult},</if>
            <if test="inputman != null">inputMan = #{inputman},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaStudentScoreById" parameterType="Long">
        delete from t_student_score where id = #{id}
    </delete>

    <delete id="deleteTeaStudentScoreByIds" parameterType="String">
        delete from t_student_score where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
