<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bs.teacher.mapper.TeaThesisTitleMapper">

    <resultMap type="TeaThesisTitle" id="TeaThesisTitleResult">
        <result property="id"    column="id"    />
        <result property="thesisname"    column="thesisName"    />
        <result property="teacherNo"    column="teacherNo"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="status"    column="status"    />
        <result property="inputman"    column="inputMan"    />
        <result property="nandu"    column="nandu"    />
        <result property="liang"    column="liang"    />
        <result property="tofrom"    column="tofrom"    />
        <result property="leixing"    column="leixing"    />
        <result property="descriptions"    column="descriptions"    />
    </resultMap>

    <sql id="selectTeaThesisTitleVo">
        select ttt.id, ttt.thesisName, tea.teacherName, ttt.submitTime, ttt.status, ttt.inputMan, ttt.nandu, ttt.liang, ttt.tofrom, ttt.leixing, ttt.descriptions
        from t_thesis_title ttt
            LEFT JOIN t_teacher tea ON tea.id = ttt.teacherId
            LEFT JOIN sys_user su ON su.user_name = tea.teacherNo
    </sql>

    <select id="selectTeaThesisTitleList" parameterType="TeaThesisTitle" resultMap="TeaThesisTitleResult">
        <include refid="selectTeaThesisTitleVo"/>
        <where>
            <if test="thesisname != null  and thesisname != ''"> and thesisName like concat('%', #{thesisname}, '%')</if>
            <if test="teacherNo != null "> and teacherNo = #{teacherNo}</if>
            <if test="submitTime != null "> and submitTime = #{submitTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="inputman != null  and inputman != ''"> and inputMan = #{inputman}</if>
            <if test="nandu != null  and nandu != ''"> and nandu = #{nandu}</if>
            <if test="liang != null  and liang != ''"> and liang = #{liang}</if>
            <if test="tofrom != null  and tofrom != ''"> and tofrom = #{tofrom}</if>
            <if test="leixing != null  and leixing != ''"> and leixing = #{leixing}</if>
            <if test="descriptions != null  and descriptions != ''"> and descriptions = #{descriptions}</if>
        </where>
    </select>

    <select id="selectTeaThesisTitleById" parameterType="Long" resultMap="TeaThesisTitleResult">
        <include refid="selectTeaThesisTitleVo"/>
        where ttt.id = #{id}
    </select>

    <insert id="insertTeaThesisTitle" parameterType="TeaThesisTitle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_thesis_title(thesisName,teacherId,submitTime,`status`,inputMan,nandu,liang,tofrom,leixing,descriptions)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="thesisname != null">#{thesisname},</if>
            <if test="teacherNo != null">(select id FROM t_teacher where teacherNo = #{teacherNo}),</if>
            now(),
            1,
            <if test="inputman != null">(select teacherName FROM t_teacher where teacherNo = #{inputman}),</if>
            <if test="nandu != null">#{nandu},</if>
            <if test="liang != null">#{liang},</if>
            <if test="tofrom != null">#{tofrom},</if>
            <if test="leixing != null">#{leixing},</if>
            <if test="descriptions != null">#{descriptions},</if>
         </trim>
    </insert>

    <update id="updateTeaThesisTitle" parameterType="TeaThesisTitle">
        update t_thesis_title
        <trim prefix="SET" suffixOverrides=",">
            <if test="thesisname != null">thesisName = #{thesisname},</if>
            <if test="teacherNo != null">teacherId = (select id FROM t_teacher where teacherNo = #{teacherNo}),</if>
            <if test="submitTime != null">submitTime = #{submitTime},</if>
            status = 1,
            <if test="inputman != null">inputMan = #{inputman},</if>
            <if test="nandu != null">nandu = #{nandu},</if>
            <if test="liang != null">liang = #{liang},</if>
            <if test="tofrom != null">tofrom = #{tofrom},</if>
            <if test="leixing != null">leixing = #{leixing},</if>
            <if test="descriptions != null">descriptions = #{descriptions},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaThesisTitleById" parameterType="Long">
        delete from t_thesis_title where id = #{id}
    </delete>

    <delete id="deleteTeaThesisTitleByIds" parameterType="String">
        delete from t_thesis_title where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
